@import '../../App.scss';

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	justify-content: center;
	position: absolute;
	width: 90vw;
	top: 1.5em;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	
	.social_header {
		justify-self: start;
		.item_social_header {
			margin: 0 1em;	
		}
	}
	.logo_header {
		justify-self: center;
	}
	.fazer_ensinar{
		justify-self: end;
		position: relative;
		z-index: 999;
	}
	.fazer, .ensinar {
		position: relative;
		z-index: 999;
		color: $azul-castor;
		font-family: GilroyExtraBold;
		margin: 0 1.5em;
		font-size: 1.2em;
		float: left;
		cursor: pointer;
		
	}
	.fazer:hover {
		color: #000;
		.menu_fazer {
			display: block;
		}	
	}
}
.fazer_aparecer {
	font-family: GilroyExtraBold;
	z-index: 999;
}

.menu_fazer {
	display: block;
	position: relative;
	margin: -1.3em 0 0 -5em;
	background: $azul-castor;
	padding: 3em 1em 1em 1em;
	color: #000;
	z-index: 20;
	width: 200px;
	li {
		margin: .5em 0;
		border-bottom: 1px solid #000;
		text-align: right;
		padding: 0 0 .5em 0;
		font-family: GilroyLight;
		font-size: .9em;
	}
}