@import '../../App.scss';

.footer {
	display: none;
	background: #000;
	padding: 3em 0;
	color: $azul-castor;
	a {
		color: $azul-castor;
	}
}
.destaque {
	font-family: GilroyExtraBold !important;
	font-size: 1em !important;
}
.social_footer {
	justify-self: start;
	.item_social_footer {
		margin: 0 1em 0 0;	
	}
}

.grid_footer {
	display: grid;
	grid-template-columns: .3fr 1fr;
}
.footer_left {
	justify-self: start;
	.links_footer {
		margin: 3em 0;
		li {
			width: 150px;
			margin: 1.5em 0;
			padding-bottom: .1em;
			
			a {
				border-bottom: 1px solid $azul-castor;
				font-family: GilroyExtraBold;
				letter-spacing: .1em;	
			}
		}
	}
	span {
		font-size: .7em;
		white-space: nowrap;
	}
}

.footer_right {
	justify-self: end;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;

	width: 70%;
	text-align: right;
	li {
		margin: 1em 0;
		font-family: GilroyLight;
		font-size: .9em;
		letter-spacing: .1em;
		white-space: nowrap;
	}
	.eta_footer {
		justify-self: end;
	}
}
